.fs-password-dialog {
	width: 450px;
}

.fs-password-dialog input[name="username"] {
	display: none;
}


fs-password .password md-input-container,
fs-password .password-confirm md-input-container{
	width: 100%;
}