<div class="password">
	<md-input-container>
	    <label>Chose a new Password</label>
	    <input type="text" ng-model="password" name="password" minlength="{{validations.minlength.value}}" minlength-message="{{validations.minlength.message}}" autocomplete="off" required autofocus/>
	</md-input-container>
</div>
<div class="password-confirm">
	<md-input-container>
	    <label>Confirm your Password</label>
	    <input type="text" ng-model="password_confirm" name="password_confirm" custom="compare" autocomplete="off" required/>
	</md-input-container>
</div>
